<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs', {title:"404"}) %>
  <body>
    <text
      style="
        width: 725px;
        align-items: center;
        justify-content: center;
        color: white;
      "
    >
      404: Page Not Found!
    </text>
  </body>
</html>
