<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs') %>
  <body>
    <div
      style="
        max-width: 1000px;
        margin: auto;
        justify-content: center;
        align-items: center;
      "
    >
      <h1 style="color: white; text-align: center">Our Story</h1>
      <br />
      <img
        src="images/aboutuspic.png"
        alt="A picture of us"
        style="
          width: 350px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        "
      />
      <text
        style="
          width: 725px;
          align-items: center;
          justify-content: center;
          color: white;
        "
      >
        We are a diverse team of computer science enthusiasts coming together to
        build a space for casual players to enjoy an entertaining and fun
        experience, regardless of skills and time investment.
      </text>
    </div>
  </body>
</html>
