<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs', {title:"Avatar Selection"}) %>
  <body>
    <div class="top">
      <div class="avatar">
        <img src="https://i.imgur.com/7ghsbHJ.jpg" class="avatar_img" />
      </div>

      <div class="popover_triangle"></div>
      <div class="popover">
        <div class="popover_title">Choose your avatar</div>
        <div class="avatar_list">
          <img src="images/avatar1.png" class="avatar_img_list" id="3" />
          <img src="images/avatar2.png" class="avatar_img_list" id="4" />
          <img src="images/avatar3.png" class="avatar_img_list" id="3" />
          <img src="images/avatar4.png" class="avatar_img_list" id="4" />
        </div>
      </div>
    </div>
  </body>
</html>
