<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs') %>
  <body>
    <div class="container" style="max-width: 500px; margin: auto">
      <h1 style="color: white; text-align: center">
        Frequently Asked Questions (FAQs):
      </h1>
      <br />
      <p style="color: white">Q: How do I register for a HIP account?</p>
      <p style="color: white">
        A: Click on the Register page and signup with your email address and a
        password.
      </p>
      <br />
      <p style="color: white">Q: Where can I find the games I want to play?</p>
      <p style="color: white">
        A: Click on Game Library and you will find a list of all the games you
        can play at HIP.
      </p>
      <br />
      <p style="color: white">Q: Who created HIP?</p>
      <p style="color: white">A: Click on the About Us page to find out.</p>
    </div>
  </body>
</html>
