<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs', {title:"Forgot Password"}) %>
  <body>
    <div class="form_container" style="margin-top: 5%">
      <form action="/login" method="post">
        <div class="container">
          <h1 style="color: #366d6f; text-align: center; font-size: 3rem">
            Forgot Password?
          </h1>
          <br />
          <label for="uname" style="color: #366d6f"
            ><b>Enter your email address</b></label
          >
          <input
            style="border-radius: 5px"
            type="text"
            placeholder="E-mail address"
            name="email"
            required
          />

          <button type="submit" class="login_register_btn" disabled id="submit">
            Receive temporary password
          </button>
          <br />

          <a
            href="/index.html"
            style="color: #367588; text-align: center; text-decoration: unset"
          ></a>
        </div>
      </form>
    </div>
  </body>
</html>
