<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs', {title:"Home"}) %>
  <body>
    <form action="/play" method="get">
      <div class="play_button_container">
        <button type="submit" class="play_button">Play</button>
      </div>
    </form>
  </body>
</html>
