<!DOCTYPE html>
<html lang="en">
  <%- include('partials/nav.ejs') %>
  <body>
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <div class="col-md-5 border-right">
          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <img
              class="rounded-circle mt-5"
              width="150px"
              src="images/avatarDefault.jpg"
            />
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
            ></div>
            <div class="form_container_left">
              <h3 class="text-right" style="color: #367588">
                Profile Information
              </h3>
              <br />
              <h4 class="text-right" style="color: white">Username:</h4>
              <h4 class="text-right" style="color: white">
                Registration Date:
              </h4>
              <button
                type="submit"
                class="login_register_btn"
                disabled
                id="submit"
              >
                <a
                  href="/resetPassword"
                  style="text-decoration: none; color: white"
                >
                  Reset Password
                </a>
              </button>
            </div>

            <div class="form_container">
              <h3 class="text-right" style="color: #367588; display: flex">
                Game Statistics:
              </h3>
              <br />
              <div class="form_container_fourcols">
                <h4 class="text-right" style="color: white">Games Won:</h4>
                <br />
                <h4 class="text-right" style="color: white">Top Scores:</h4>
                <h4 class="text-right" style="color: white">Highest Score:</h4>
                <h4 class="text-right" style="color: white">
                  Last Game Played:
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
